._.DS_Store
._.*
.DS_Store
.osiris_pid
.shutdown_pid
Thumbs.db
_tmp
/_client
/_custom
/_tools
/bin/env.conf
/etracs/fileserver
/etracs/output
/etracs/report-files
/etracs/reportcache
/etracs/templates/custom
/etracs/web/resources/downloads/modules/custom
/custom-template
/zzz
**/resources/platform/etracs255-platform/**
zzz-custom



# dependencies
/react/_custom
/react/node_modules
/react/.pnp
/react/.pnp.js
/react/.yarn/install-state.gz

# testing
/react/coverage

# next.js
/react/.next/
/react/out/

# production
/react/build

# misc
/react/.DS_Store
/react/*.pem

# debug
/react/npm-debug.log*
/react/yarn-debug.log*
/react/yarn-error.log*

# local env files
/react/.env*.local

# vercel
/react/.vercel

# typescript
/react/*.tsbuildinfo
/react/next-env.d.ts

/react/*.swp
/react/*.save
